@import '~antd/dist/antd.css';

.fetch-btn {
  margin-right: 5px;
}

.fade-enter {
  right: 100px;
}

.fade-enter-active {
  right: 0px;
  transition: .5s ease-in all;
}

.fade-leave {
  opacity: 1.0;
}

.fade-leave-active {
  opacity: 0;
  transition: .5s ease-out all;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
